/*
 * @Author: Joe Jiang 
 * @Date:   2017-08-22 14:40:07 
 * @Last Modified by: Joe Jiang (anxiao.jt@alibaba-inc.com)
 * @Last Modified time: 2017-09-14 19:19:01
 */

@charset "UTF-8";

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #000000 url(../img/loading.gif) center center no-repeat;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
    height: 100%;
}

#info {
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    right: 10px;
    padding: 10px;
}

#currentInfo {
    width: 400px;
    position: absolute;
    left: 20px;
    top: 63px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
}

a {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bull {
    padding: 0 5px;
    color: #555;
}

#title {
    position: absolute;
    top: 20px;
    width: 270px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font: 20px Georgia;
    padding: 10px;
}

.year {
    font: 16px Georgia;
    line-height: 26px;
    height: 30px;
    text-align: center;
    float: left;
    width: 90px;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
}

.year:hover,
.year.active {
    font-size: 23px;
    color: #fff;
}

#ce span {
    display: none;
}

#ce {
    width: 107px;
    height: 55px;
    display: block;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background: url(../img/ce.png);
    background-size: contain;
}